<header class="container my-5">
  <div class="row align-items-center">
    <div class="col-md-5">
      <div class="detail-box">
        <h1>
          All You Needd<br />
          In one Place
        </h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem
          maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
        </p>
        <div class="d-flex gap-2">
          <a href="" class="btn btn1-color text-light px-4 py-2">Contact Us</a>
          <a href="" class="btn btn2-color text-light px-4 py-2">About Us</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <img class="object-fit-cover" src="header.png" width="100%" alt="" />
      </div>
    </div>
  </div>
</header>
